<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
		<link rel="stylesheet" href="{{url_for('static', filename='style.css')}}" />

	</head>
	<body>
		<script type="text/javascript">
			document.getElementById("myButton").onclick = function () {
				location.href = "www.yoursite.com";
			};
		</script>
		</script>
		<div id="header">
			<table>
				<tr>
					<td>
						<button id="rawData"><a href="/">View raw data</a></button>
					</td>
					<td>
						<button id="view3dquery"><a href="/run">Viewer3d - Query</a></button>
					</td>
					<td>
						<button id="jsonpathQuery">
							<a href="/jsonpathQuery">JsonPath - Query</a>
						</button>
					</td>
					<td>
						<button id="jsonLdQuery">
							<a href="/jsonLdQuery">JsonLD - Query</a>
						</button>
					</td>
					<td>
						<button id="interactiveQuery">
							<a href="/interactiveQuery">Interactive - Query</a>
						</button>
					</td>
				</tr>
			</table>
		</div>
		<script type="text/javascript" src="{{url_for('static', filename='nsBtnNavigate.js')}}"></script>
		<div id="main-proc">
			<br />
			<h3>Data processed on server using jsonLD framing & jsonpath</h3>
			<label>Ifc Json</label><br/>
			<textarea id="d1" rows="25" cols="100"></textarea>
			<label>Json-LD & Json Path Processes-1</label><br/>
			<textarea id="d2" rows="25" cols="100"></textarea>
			<label>Json-LD & Json Path Processes-1</label><br/>
			<textarea id="d3" rows="25" cols="100"></textarea>

			<script>
				const inputData= {{data|safe}};
				console.clear();
				document.getElementById("d1").value=JSON.stringify(JSON.parse(inputData[2]), undefined, 4);
				document.getElementById("d2").value=JSON.stringify(JSON.parse(inputData[0]), undefined, 4);
				document.getElementById("d3").value=JSON.stringify(JSON.parse(inputData[1]), undefined, 4);

			</script>
		</div>
	</body>
</html>
